@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic-ext');



* {
  margin: 0;
  padding: 0;
  outline: 0;
}



.container {
	width: auto;
	width: 1170px;
	position: relative;

	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;

}
	header {
		width: 100%;
		position: relative;
	}
		.nav-top-header {
			padding-top: 10px;
			position: relative;
			font-family: 'Roboto', sans-serif;
			font-size: 0.813em;
		}
			.nav-top-header ul {
				display: inline-block;
			}
			.nav-top-header ul.nav-header-left li {
				display: inline-block;
				padding-left: 38px;
			}

			.nav-top-header .nav-header-left li:first-child{
				padding-left: 0;
			}
			.nav-top-header .nav-header-left li a {
				font-weight: 700;
				color: rgb(162,162,162);
				font-size: 13px;
			}
			.nav-top-header .nav-header-left li a:hover {
				border-bottom: 1px solid rgb(107,107,107);
				color: rgb(107,107,107);
			}
			.nav-top-header .nav-header-left li .vk  {
				margin-left: 30px;
				font-size: 1.063em;
			}
			.nav-top-header .nav-header-left li a.b-b-none:hover {
				border-bottom: 0;
			}
			.nav-top-header .nav-header-left li .vk svg {
				font-size: 1.063em;
			}
			.nav-top-header .nav-header-left li .facebook svg {
				font-size: 1.063em;
				padding-left: 0px;
				font-weight: 600;
			}
			.nav-top-header .nav-header-left li.fabuck {
				padding-left: 15px;
				font-size: 1.063em;
			}

		.nav-top-header .nav-header-right {
			float: right;
		}
		.nav-header-right li{
			display: inline-block;
		}
		.nav-header-right li:first-child{
			padding-right: 8px;
		}
		.nav-header-right li:last-child::before{
			content: "|";
			padding-right: 11px;
			color: rgb(162,162,162);
		}
			.nav-header-right li a{
				text-transform: uppercase;
				font-weight: 700;
				font-size: 13px;
				color: rgb(162,162,162);

			}
			.nav-header-right li a:hover{
				font-size: 13px;
				border-bottom: 1px solid rgb(107,107,107);
				color: rgb(107,107,107);
			}


		.container-head {
			margin: 50px auto 30px; 
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap-reverse;
			width: 100%;

		}
			.container-head .logo {
				display: table-cell;
				float: right;
				position: relative;
				top: 0;
				left: 0;
				width: 176px;
			}
			.container-head .in-lin {
			}

			.container-head .search-form {
				margin-top: 0;
			}
			.container-head .search-form form {
				margin-top: 0; 
				margin-left: 0px;
				padding: 5px;
				position: relative;
				display: inline-block;
			}
				.container-head .search-form form.active {
					border: 1px solid black;
				}
				.container-head .search-form form input {
					border: none;
					padding: 7px 40px 7px 15px;
					width: 450px;
					font-family: 'Roboto', sans-serif;
					border: 1px solid #a1a1a1;
					border-radius:3px;
					font-size: 13px;
				}


				/*	border: 1px solid #000;
					outline: 0;
					font-style: normal;*/
				input::-webkit-input-placeholder {
				  font-style: italic;
				}
				
				input::-moz-placeholder {
				  font-style: italic;
				}
				
				input:-ms-input-placeholder {
				  font-style: italic;
				}
		
				.container-head .search-form form button {
					position: absolute;
					top:12px;
					right: 13px;
					background: none;
					border: none;
					color: #A2A2A2;
					font-size: 16px;
					cursor: pointer;
				}

		
			.container-head .address-col {
				margin-left: 0px;
				text-align: center;
				line-height: 1em;
				font-family: 'Roboto', sans-serif;
				font-weight: 600;
			}
				.container-head .address-col .number {
					margin: 0;
					padding: 0;
					position: relative;

				}
					.container-head .address-col .number .opsh-nomb {
						margin-top: 0;
						width: 100%;
						cursor: default;
						padding-bottom: 3px;
					}
					.container-head .address-col .number .opsh-nomb::before {
						content: "\f10b";
						font-family: FontAwesome;
						font-size: 22px;
						display: inline-block;
						vertical-align: middle;
						text-align: left;
						margin-right: 8px;
						color: rgb(162,162,162);
						font-weight: 300;
					}
					.container-head .address-col .number .opsh-nomb::after {
/*						content: "\f107";
						font-family: FontAwesome;*/
						content: "";
						background: url("../img/angle-down.png") no-repeat top right;
						width: 9px;
						height: 5px;
						display: inline-block;
						vertical-align: middle;
						text-align: right;
						margin-left: 0px; 
						margin-top: -5px;
					}
					.container-head .address-col .number .opsh-nomb.active:hover::after {
/*						content: "\f106";
						font-family: FontAwesome;*/
						content: "";
						background: url("../img/angle-down-2.png") no-repeat top right;
						width: 9px;
						height: 5px;
						display: inline-block;
						vertical-align: middle;
						text-align: left;
						margin-left: 0; 
					}
					.container-head .address-col .number .form-select {
						background: white;
						padding: 10px 15px 0 15px;
						box-shadow: 0 0 15px 5px #EDEDED;
						position: absolute;
						top: 20px;
						left: 3px;
						cursor: default;
						display: none;
					}
					.container-head .address-col .number .form-select div{
						margin-bottom: 7px;
					}
					.container-head .address-col .number:hover .form-select.active{
						display: block;
					}

					
/*				.container-head .address-col .phone-nob::after {
					content: "\f107";
					font-family: FontAwesome;
					margin-left: 10px;
				}						
				.container-head .address-col .phone-nob:first-child i{
					font-weight: bold;
					padding-right: 10px;
				}*/

				.container-head .address-col .phone-bold {
					font-size: 0.813em;
					margin-top: 0;
					margin-left: 0;
				}
					.container-head .address-col .phone-bold a{
						font-weight: 400;
						font-size: 13px;
						color: rgb(197,37,47);
						border-bottom: 1px solid rgb(197,37,47);
						font-family: 'Roboto', sans-serif;

					}
					.container-head .address-col .phone-bold a:hover{
						color: rgb(197,37,47);
						border-bottom: 1px solid rgb(197,37,47);
						font-weight: bold;
					}
			.container-head .head-basket {
				margin-left: 0px;
				text-align: center;
				position: relative;
				display: inline-table;
				vertical-align: middle;
				right: 10px;
			}
				.container-head .head-basket p{
					font-family: 'Roboto', sans-serif;
					font-weight: 400;
					margin-top: 5px;
					font-size: 16px;

				}

					.container-head .head-basket p span.basket::after{
						content: "";
						font-size: 30px;
						display: inline-block;
						width: 20px;
						height: 26px;
						vertical-align: middle;
						padding-right: 10px;
						background: url("../img/basket.png") no-repeat top right;
					}
					.container-head .head-basket div.lev-in{
						position: absolute;
						right: -20px;
						top: 10px;
					}
					.container-head .head-basket a.level-check{
						width: 20px;
						height: 20px;
						display: table-cell;
						position: relative;
						vertical-align: middle;
						right: 10px;
						top: 10px;
						font-weight: 400;
						background: #C5252F;
						border-radius: 10px;
						font-size: 12px;
						color: white;
						font-family: 'Roboto', sans-serif;
					}

					/*Всплывающая меню корзины*/
					.container-head .head-basket .basket-sapping {
						width: 325px;
						background: white;
						box-shadow: 0 0 10px 5px #EAEAEA;
						border-top: 3px solid #c5252f;
						padding: 30px 20px 40px;
						position: absolute;
						right: -10px;
						top: 45px;
						z-index: 58;
						display: none;
					}
					.container-head .head-basket .lev-in:hover ~ .basket-sapping{
						display: block;
					}
						.container-head .head-basket .basket-sapping .inline-element{
							width: 100%;
							min-height: 300px;
							overflow: auto;

							}
							.container-head .head-basket .basket-sapping .scrollbar {
								float: left;
								height: 400px;
								overflow-y: scroll;
								margin-bottom: 25px;
								}
								#style-3::-webkit-scrollbar-track {
									-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
									background-color: #F5F5F5;
								}
								#style-3::-webkit-scrollbar {
									width: 6px;
									background-color: #F5F5F5;
								}
								#style-3::-webkit-scrollbar-thumb {
									background-color: #000000;
								}

								.container-head .head-basket .basket-sapping .inline-element {
									text-align: left;
								}
								.container-head .head-basket .basket-sapping .inline-element ul.out-in li{
									margin-bottom: 40px;
								}
								.container-head .head-basket .basket-sapping .inline-element .float-bk{
									display: inline-block;
									vertical-align: middle;
								}
								.container-head .head-basket .basket-sapping .inline-element .rem-li{
									height: 100%;
									margin-right: 10px;
									margin-left: 10px;
								}
								.container-head .head-basket .basket-sapping .inline-element .rem-dwn {
									text-align: left;
									margin-right: 10px;
									line-height: 1em;
									height: 70px;
								}
									.container-head .head-basket .basket-sapping .inline-element .rem-dwn p{
										margin: 0 0 10px 0;
										font-family: 'PT Serif', serif;
									}
									.container-head .head-basket .basket-sapping .inline-element .rem-dwn p:first-child a{
										color: rgb(107,107,107);
										font-size: 0.875em;
										font-weight: bold;
									}
									.container-head .head-basket .basket-sapping .inline-element .rem-dwn p:first-child a:hover{
										color: rgb(107,107,107);
										font-size: 0.875em;
										font-weight: bold;
									}
									.container-head .head-basket .basket-sapping .inline-element .rem-dwn p:last-child {
										font-size: 1.063em;
									}
								.container-head .head-basket .basket-sapping .inline-element img.img-kit {
									width: 70px;
									height: 70px;
									margin-right: 10px;
									border: 1px solid #E1E1E1;
									background-size: cover;
								}

						.container-head .head-basket .basket-sapping hr {
								border: 1px solid #F0F0F0;
								display: flex;

							}
							.container-head .head-basket .basket-sapping .price-total {
								width: 100%;
								display: table;
								margin-top: 20px;
							}
							.container-head .head-basket .basket-sapping .price-total ul {
									display: table-row;
									width: 100%;
									margin-top: 10px;
								}
								.container-head .head-basket .basket-sapping .price-total ul li{
									display: table-cell;
									font-size: 18px;
									color: rgb(54,52,52);
									font-family: 'Roboto', sans-serif;
									}
									.container-head .head-basket .basket-sapping .price-total ul li:first-child {
											text-align: left;
											width: 50%;
										}
									.container-head .head-basket .basket-sapping .price-total ul li:last-child {
											text-align: right;
											width: 50%;
											font-weight: bold;
										}

						.container-head .head-basket .basket-sapping .checkout-button {
								width: 100%;
								margin-top: 20px;
							}

							.container-head .head-basket .basket-sapping .checkout-button ul {
									
								}
								.container-head .head-basket .basket-sapping .checkout-button ul li:first-child a {
										width: 130px;
										padding: 5px 10px;
										display: block;
										background: white;
										border: 2px solid black;
										font-family: 'Roboto', sans-serif;
										font-size: 0.75em;
										font-weight: bold;
										float: left;
										color: black;
									}

								.container-head .head-basket .basket-sapping .checkout-button ul a:last-child {
										width: 130px;
										padding: 7px 10px;
										display: block;
										background-color: #f36167;
										font-family: 'Roboto', sans-serif;
										font-size: 0.75em;
										float: right;
										color: white;
									}
								.container-head .head-basket .basket-sapping .checkout-button ul li a.but-2:hover{
										background-color: #c5252f;
									}


	nav {
		margin: 0 auto;
	}
		nav .hd-nav {
			border-top: 1px solid #DCDCDC;
			border-bottom: 1px solid #DCDCDC;
			display: table;
			width: 100%;
			justify-content: space-around;
			flex-wrap: wrap-reverse;
		}
			nav .hd-nav ul {
				padding: 0;
				margin: 0;
				display: table-row;
				}
				nav .hd-nav ul li {
					position: relative;
					display: table-cell;
					float: left;	
				}
				nav .hd-nav ul li::before {
					content: "";
					position: absolute;
					top: 12px;
					left: 0;
					width: 0px;
					height: 20px;
					border-left: 1px solid #DCDCDC;
				}
				nav .hd-nav ul li:first-child::before {
					border: 0;
				}
					nav .hd-nav ul li a {
						display: inline-block;
						color: rgba(0,0,0,0.7);
						font-family: 'PT Serif', serif;
						padding: 10px 49px;
						font-weight: 700;
						text-transform: uppercase;
						font-size: 13px;
						-webkit-transition: all .2s ease-in-out;
						-moz-transition: all .2s ease-in-out;
						transition: all .2s ease-in-out;
					}
					nav .hd-nav ul li a:hover {
						color: rgba(0,0,0,1);
					}
					nav .hd-nav ul li a::after {
						content: url("../img/angle-down.png");
						position: absolute;
						top: 7px;
						right:35px;
					}
					nav .hd-nav ul li a:hover::after {
						content: url("../img/angle-down-2.png");
						position: absolute;
						top: 7px;
						right:35px;
					}
					nav .hd-nav ul li a.active::after {
						content: none;
					}
					nav .hd-nav ul li a::before {
						content: "";
						position: absolute;
						border: 1px solid #c5252f;
						bottom: 0px;
						left: 40px;
						padding: 0 0 0 20px;
						display: none;
					}

					nav .hd-nav ul li a.active-block {
						color: black;
						background: #F3F3F3;
					}					
					nav .hd-nav ul li.active-block::before {
						border: 0;
					}					
					nav .hd-nav ul li:hover > ul{
						display: block;
					}	
					nav .hd-nav ul li {
						display: inline-block;
						-webkit-transition: all .2s ease-in-out;
						-moz-transition: all .2s ease-in-out;
						transition: all .2s ease-in-out;
					}
					nav .hd-nav ul li a.active  {
						color: black;
					}
					nav .hd-nav ul li a.active:hover  {
						color: black;
						background: none;
					}
					nav .hd-nav ul li a.active::before  {
						display: block;
						content: "";
					}
					nav .hd-nav ul li a.line-bottom1::before {
						width: 35%;
					}
					nav .hd-nav ul li a.line-bottom2::before {
						width: 30%;
					}
					nav .hd-nav ul li a.line-bottom3::before {
						width: 30%;
					}
					nav .hd-nav ul li a.line-bottom4::before {
						width: 40%;
					}
					nav .hd-nav ul li a.line-bottom5::before {
						width: 37%;
					}
					nav .hd-nav ul li a.line-bottom6::before {
						width: 40%;
					}
					nav .hd-nav ul li a.line-bottom7::before {
						width: 52%;
					}
/*
					nav .hd-nav ul li hr {
						height: 15px;
						display: block;
						line-height: 130px;
						width: 0;
						color: red;
						background: red;
						top:0;
						right:-1px;
						border-right: 1px solid #DCDCDC;
						position: absolute;
					}*/
				
			nav .hd-nav > ul > li:hover::after {
				content: "";
				position: absolute;
				border-bottom: 2px solid #c5252f;
				bottom: 0px;
				left: 0;
				display: block;
				width: 100%;
			}
			nav .hd-nav > ul > li.active:hover::after {
				content: "";
				position: absolute;
				border-bottom: 2px solid #c5252f;
				bottom: 0px;
				left: 0;
				display: none;
				width: 100%;
			}

/*	
			nav .hd-nav ul li a.active:hover::before {
				content: "";
				position: absolute;
				border-bottom: 2px solid #c5252f;
				padding: 0;
				margin: 0;
				bottom: 0px;
				left: 0;
				display: block;
				width: 87%;
			}
*/

						nav .hd-nav ul ul {
							position: absolute;
							left: 0;
							top: 44px;
							z-index: 120;
							padding: 10px 0 10px 0;
							display: none;
							border-top: 2px solid #C5252F;
							background: white;
							box-shadow: 0 0 15px 5px #EDEDED;
						}

						nav .hd-nav ul li > ul.last-menu {
							position: absolute;
							left: -170px;
						}
							nav .hd-nav ul ul li {
								position: relative;
							}
								nav .hd-nav ul ul a {
									display: block;
									width: 247px;
									font-size: 0.938em;
									text-transform: none;
									font-family: 'Roboto', sans-serif;
									z-index: 120;
									font-weight: 500;
									font-size: 15px;
								}
								nav .hd-nav ul ul li::before {
									border: 0;
								}
								nav .hd-nav ul ul li::after {
									border-left: 0;
								}
								nav .hd-nav ul ul a::after {
									content: "";
								}
								nav .hd-nav ul ul li a::before {
									content: "";
									width: 5px;
									height: 5px;
									border-radius: 3px;
									padding: 0;
									display: block;
									position: absolute;
									border: 1px solid #6b6b6b;
									bottom: 18px;
									left: 25px;
								}

								nav .hd-nav ul ul li a:hover {
									background: 0;
									color: rgb(197,37,47);
								}								
								nav .hd-nav ul ul li a:hover::before  {
									content: "";
									border: 1px solid rgb(197,37,47);
								}
								nav .hd-nav ul ul li a:hover::after  {
									content: "";
									padding: 0;
									margin: 0;
								}


	.main-slider {
		margin-top: 40px;
		width: 100%;
		position: relative;
	}
		.main-slider .slider-content{
			height: 399px;
			overflow: hidden;
		}
			.main-slider .slider-content .is-slide{
				display: none;
				height: 100%;
				width: 100%;
				position: absolute;
			}
			.main-slider .slider-content .is-slide.active{
				display: table;
			}
					.main-slider .slider-content .is-slide .content img{
						width: 100%;
					}
					.main-slider .slider-content .is-slide .content h2{
						position: absolute;
						top: 100px;
						left: 100px;
						width: 450px;
						font-size: 42px;
						font-weight: 300;
						line-height: 56px;
						text-align: right;
						font-family: 'Roboto', sans-serif;
						text-transform: uppercase;
						color: rgb(8,13,17);

					}
						.main-slider .slider-content .is-slide .content h2 a:hover {
							color: black;
							border-bottom: 2px solid black;
						}

		.main-slider .is-pagination{
			position: absolute;
			bottom: 15px;
			left: 50%;
			z-index: 29;
			margin: 0;
			padding: 0;
		}
			.main-slider .is-pagination li {
				display: inline-table;
				position: relative;
				padding: 0;
				margin: 0;
				position: relative;
				width: 17px;
				height: 7px;
				vertical-align: middle;
				text-align: center;
			}
				.main-slider .is-pagination li a {
					background: #A2A2A2;
					display: block;
					padding: 1px;
					margin-left: 7px;
					border-radius: 10px;
					position: relative;
					cursor: pointer;
					width: 10px;
					height: 10px;
				}
				.main-slider .is-pagination li a.active {
					width: 0px;
					height: 0px;
					background: #c5252f;
					margin-left: 13px;
					display: block;
					padding: 3px;
					top: 0;
					left: -4px;
				}
				.main-slider .is-pagination li a.active::after {
					content: "";
					border: 1px solid #c5252f;
					width: 14px;
					height: 14px;
					display: block;
					background: none;
					position: relative;
					border-radius: 7px;
					left: -8px;
					top: -8px;
				}


	.main-goods {
		margin: 132px auto 0;
		min-height: 720px;
		position: relative;
	}
		.main-goods .goods-nav {
			width: 100%;
			flex-wrap: wrap-reverse;
			justify-content: space-around;
			text-align: justify;
			margin-bottom: 27px;
			padding-bottom: 30px;
		}
			.main-goods .goods-nav ul {
				display: inline-block;
/*			position: absolute;*/
			}
				.main-goods .goods-nav ul li {
					display: inline-block;
					padding-left: 20px;
				}
				.main-goods .goods-nav ul li:first-child {
					padding: 0;
				}
				.main-goods .goods-nav ul:first-child {
					margin-left: -30px;
				}
				.main-goods .goods-nav ul:first-child li {
					width: 160px;
					margin: 0;
					padding: 0;
					text-align: center;
				}
					.main-goods .goods-nav ul:first-child li a {
						font-size: 22px;
						font-family: 'PT Serif', serif;
						color: rgb(115,115,115);
						font-weight: 400;
					}
					.main-goods .goods-nav ul:first-child li a:hover {
						border-bottom: 1px solid black;
						font-weight: 700;
						color: rgb(0,0,0);
						font-size: 22px;
					}
					.main-goods .goods-nav ul:first-child li a.active {
						border-bottom: 0;
						font-weight: bold;
						color: rgb(0,0,0);
						font-size: 22px;
					}

				.main-goods .goods-nav ul:last-child {
					float: right;
					margin: 0;
					padding: 0;
				}
				.main-goods .goods-nav ul:last-child li {
					margin-left: 5px;
					padding: 0;
					-webkik-box-sizing: border-box;
					-moz-box-box-sizing: border-box;
					box-sizing: border-box;
					font-size: 20px;
				}
				.main-goods .goods-nav ul:last-child li:hover {
					background: #f46268;
					border-radius: 3px;
					margin-left: 5px;
					padding: 0;
					border: 0;/*
					width: 34px;
					height: 34px;*/
				}
					.main-goods .goods-nav ul:last-child li:first-child a {
						content: "";
						background: url("../img/angle-left.png") no-repeat center center;
					}
					.main-goods .goods-nav ul:last-child li:first-child a:hover {
						content: "";
						background: url("../img/angle-left-1.png") no-repeat center center;
						border: 0;
						padding: 1px 1px;
					}
					.main-goods .goods-nav ul:last-child li:last-child a {
						content: "";
						background: url("../img/angle-right.png") no-repeat center center;
					}
					.main-goods .goods-nav ul:last-child li:last-child a:hover {
						content: "";
						background: url("../img/angle-right-1.png") no-repeat center center;
						border: 0;
						padding: 1px 1px;
					}
					.main-goods .goods-nav ul:last-child li:first-child a, .main-goods .goods-nav ul:last-child li:last-child a {
						width: 32px;
						height: 32px;
						display: block;
						border: 1px solid black;
						border-radius: 3px;
					}


		.main-goods .product-list{
			flex-wrap: wrap-reverse;
			justify-content: space-around;
		}
			.main-goods .product-list ul.row {
				width: 100%;
				margin: 0 0 0 10px;
				padding: 0;
				display: table-row;
				position: relative;
			}
				.main-goods .product-list ul li.product-tab {
					display: table-cell;/*
					text-align: center;*/
					width: 30%;
				}
				.main-goods .product-list ul li.product-tab .is-block {
					position: relative;
					width: 221px;
					min-height: 420px;
					padding: 20px;
					line-height: 1em;
					border: 1px solid #EAEAEA;
				}
				.main-goods .product-list ul li.product-tab .is-block:hover {
					box-shadow: 1px 1px 33px 1px #EAEAEA;
				}
					.main-goods .product-list ul li.product-tab .is-block .time-chart {
						font-family: 'Roboto', sans-serif;
						font-size: 9px;
						line-height: 18px;
						color: rgb(0,0,0);
						text-align: center;
						display: block;
					}
					.main-goods .product-list ul li.product-tab .is-block .time-chart span{
						font-family: 'Roboto', sans-serif;
						font-weight: bold;
						font-size: 14px;
						line-height: 18px;
						color: rgb(0,0,0);
						text-align: center;
					}
					.main-goods .product-list ul li.product-tab .is-block .time-chart.active{
						visibility: hidden;
					}
					.main-goods .product-list ul li.product-tab .is-block .new-product{
						visibility: visible;
						position: absolute;
						background-color: #c5252f;
						color: white;
						padding: 2px 17px;
						top: 10px;
						right: 10px;
						font-size: 13px;
						font-weight: 200;
						font-family: 'Roboto', sans-serif;
					}
					.main-goods .product-list ul li.product-tab .is-block .new-product.active {
						visibility: hidden;
					}
					.main-goods .product-list ul li.product-tab .is-block .dop-info {
						visibility: hidden;
					}
					.main-goods .product-list ul li.product-tab .is-block .dop-info.active {
						visibility: visible;
					}
				.main-goods .product-list ul li.product-tab .is-block .slidebox-thumb img {
					width: 100%;
					margin-bottom: 20px;
				}
				.main-goods .product-list ul li.product-tab .is-block h3 {
					font-size: 16px;
					font-family: 'PT Serif', serif;
					font-weight: 700;
					margin-bottom: 0;
				}
					.main-goods .product-list ul li.product-tab .is-block h3 span.dop-info {
						background-image: linear-gradient(0deg, #ffffff 0%, #000000 100%);
						-webkit-background-clip: text;
						color: black;

					}
					.main-goods .product-list ul li.product-tab .is-block > p {
						font-family: 'Roboto', sans-serif;
						font-size: 15px;
						line-height: 18px;
						color: rgba(0,0,0,.70);
						z-index: 89;
						position: absolute;
						font-weight: 500;
						display: block;
						-webkit-box-shadow: 0 0 35px 10px white;
						-moz-box-shadow: 0 0 35px 10px white;
						box-shadow: 0 0 35px 10px white;
					}
					.main-goods .product-list ul li.product-tab .is-block:first-child > p{
						margin-top: 8px;
					}

							.main-goods .product-list ul li p strong {
								color: rgb(197,37,47);
								font-weight: 900;
								font-size: 15px;
							}
							.main-goods .product-list ul li p span {
								text-decoration: line-through;
								color: rgba(0,0,0,.70);
								font-weight: 500;
								font-size: 15px;
							}

					.main-goods .product-list ul li .product-button {
							position: relative;
							height: 50px;
							font-size: 0.875em;
							margin: 30px 0 0 0 ;
					}
						.main-goods .product-list ul li .product-button p {
							font-family: 'Roboto', sans-serif;
							font-size: 15px;
							line-height: 18px;
							width: 100px;
							height: 30px;
							position: absolute;
							top: 20px;
							right: 35px;
						}
							.main-goods .product-list ul li .product-button p a {
								background-color: #f36268;
								display: table-cell;
								vertical-align: middle;
								text-align: center;
								color: white;
								padding: 7px 30px;
								font-size: 14px;
							}
							.main-goods .product-list ul li .product-button p a:hover {
								background: #c5252f;
							}
							.main-goods .product-list ul li .product-button p a::after {
								content: "";
								width: 15px;
								height: 30px;
								padding: 10px 10px;
								margin-left: 10px;
								background: url("../img/button-buy.png") no-repeat right;

							}
					.main-goods .product-list .slidebox-item {
							display: none;
							font-size: 0.813em;
							font-family: 'Roboto', sans-serif;
							line-height: 2em;
					}

					.main-goods .product-list .product-tab .is-block:hover .slidebox-item {
							margin-top: 20px;
							width: 100%;
							display: block;
					}
					.main-goods .product-list .slidebox-item ul {
							padding: 0;
							margin: 0;
					}
					.main-goods .product-list .slidebox-item ul li {
							display: inline-table;
							width: 100%;
					}
					.main-goods .product-list .slidebox-item ul li span {
							font-size: 0.9em;

					}
					.main-goods .product-list .slidebox-item ul li .property-title {
						width: 120px;
						display: table-cell;
						font-weight: normal;
						color: rgb(0,0,0);
						font-size: 13px;
					}
						.main-goods .product-list .slidebox-item ul li .propery-des {
							font-weight: 600;
							text-align: left;
							display: table-cell;
						}


		.story_main {
			margin: 5px auto 50px;
			position: relative;
		}
			.story_main .goods-nav{
				width: 100%;
				margin: 0 0 80px;
				display: flex;
			}
				.story_main .goods-nav ul{
					padding: 0;
					margin: 0;
					position: absolute;
					top: 0;
					height: 30px;
				}

				.story_main .goods-nav ul li {
					display: inline-block;
				}
				.story_main .goods-nav ul:first-child {
					left: -10px;
					top: 0px
				}
				.story_main .goods-nav ul:first-child li {
					margin-right: 20px;
				}
					.story_main .goods-nav ul:first-child li a {
						font-size: 1.375em;
						padding: 0 10px;
						color: black;
						font-weight: 700;
						font-family: 'PT Serif', serif;
					}
					.story_main .goods-nav ul:first-child li a:hover {
						text-decoration: underline;
						font-weight: 700;
						color: black;
					}

				.story_main .goods-nav ul:last-child {
					right: 0;
					top: 0px
				}
				.story_main .goods-nav ul:last-child li {
					margin-left: 5px;
					padding: 0;
					-webkik-box-sizing: border-box;
					-moz-box-box-sizing: border-box;
					box-sizing: border-box;
					font-size: 20px;
				}
				.story_main .goods-nav ul:last-child li:hover {
					background: #f46268;
					border-radius: 3px;
					margin-left: 5px;
					padding: 0;
					border: 0;/*
					width: 34px;
					height: 34px;*/
				}
					.story_main .goods-nav ul:last-child li:first-child a {
						content: "";
						background: url("../img/angle-left.png") no-repeat center center;
					}
					.story_main .goods-nav ul:last-child li:first-child a:hover {
						content: "";
						background: url("../img/angle-left-1.png") no-repeat center center;
						border: 0;
						padding: 1px 1px;
					}
					.story_main .goods-nav ul:last-child li:last-child a {
						content: "";
						background: url("../img/angle-right.png") no-repeat center center;
					}
					.story_main .goods-nav ul:last-child li:last-child a:hover {
						content: "";
						background: url("../img/angle-right-1.png") no-repeat center center;
						border: 0;
						padding: 1px 1px;
					}
					.story_main .goods-nav ul:last-child li:first-child a, .story_main .goods-nav ul:last-child li:last-child a {
						width: 32px;
						height: 32px;
						display: block;
						border: 1px solid black;
						border-radius: 3px;
					}


/*				Кнопка angle-left-right

					.story_main .goods-nav ul:last-child {
					right: 0;
					top: 20px
				}
				.story_main .goods-nav ul:last-child li {
					margin-left: 4px
				}
					.story_main .goods-nav ul:last-child li a {
						padding: 5px 10px;
						border: 1px solid black;
						border-radius: 3px;
						font-weight: normal;
						-webkik-box-sizing: border-box;
						-moz-box-box-sizing: border-box;
						box-sizing: border-box;
						color: black;
						font-size: 20px
					}
					.story_main .goods-nav ul:last-child li a:hover {
						padding: 6px 11px;
						border: 0;
						color: white;
						background: #f46268;
					}*/






		.story_main .story-main-in {
			margin-top: 20px;
			width: 100%;
			display: inline-table;
			
		}
			.story_main .story-main-in ul.mainposts {
				width: 100%;
				margin: 0;
				padding: 0;
				display: table-row;
				position: relative;

			}
				.story_main .story-main-in ul.mainposts li {
					display: table-cell;
					width: 30%;
						
				}
					.story_main .story-main-in ul.mainposts li .is-block {
						width: 262px;
						min-height: 300px;
							
					}
						.story_main .story-main-in ul.mainposts li .is-block .story-aside {
							font-size: 1em;
							line-height: 1em;
							margin-top: 20px;
						}
					.story_main .story-main-in ul.mainposts li .is-block .story-aside .story-title {
							font-size: 16px;
							width: 100%;
							color: rgb(0,0,0);
							font-family: 'PT Serif', serif;
							font-weight: bold;
						}
						.story_main .story-main-in ul.mainposts li .is-block .story-aside .story-text {
							font-size: 14px;
							margin-top: 20px;
							font-family: 'Roboto', sans-serif;
							color: rgba(0,0,0,.8);
						}
						.story_main .story-main-in ul.mainposts li .is-block .story-aside .story-info {
							font-size: 13px;
							font-family: 'Roboto', sans-serif;
						}

						.story_main .story-main-in ul.mainposts li .is-block .story-aside .story-info{
							margin-top: 20px;
							font-size: 0.8em;
							color: black;
							font-weight: bold;
						}



		.main-promise {
			margin: 70px auto 40px;
			position: relative;
			border-top: 1px solid #dbdbdb;
			border-bottom: 1px solid #dbdbdb;
			display: inline-table;
			width: 100%;
			height: 60px;
		}
			.main-promise .common-blocks{
				display: table-cell;
				text-align: right;
				vertical-align: middle;
			}
				.main-promise .common-blocks .inner-container{
					display: inline-table;
					width: 230px;
					position: relative;
				}
				.main-promise .common-blocks .inner-container p {
					font-family: "PT Serif";
					font-style: Italic;
					font-weight: bold;
					color: #808080;
					text-align: left;
					font-size: 14px;
					line-height: 1em;
				}
					.main-promise .common-blocks .inner-container.ic-fa-truck::before {
						content: "\f0d1";
						font-family: FontAwesome;
						font-size: 25px;
						position: absolute;
						left: -40px;
						top: 0;
					}
					.main-promise .common-blocks .inner-container.ic-fa-rocket::before {
						content: "\f135";
						font-family: FontAwesome;
						font-size: 25px;
						position: absolute;
						left: -40px;
						top: 0;
					}
					 .main-promise .common-blocks .inner-container.ic-fa-star::before {
						content: "\f005";
						font-family: FontAwesome;
						font-size: 25px;
						position: absolute;
						left: -40px;
						top: 0;
					}
						 .main-promise .common-blocks .inner-container p strong {
								color: #000;
						}

						 .main-promise .common-blocks.si-block {
								display: block;
								width: 100%;
								height: 100%;
								line-height: 60px;
						}
						 .main-promise .si-block .flying-button {
								display: inline-block;
						}
							.main-promise .si-block .flying-button a{
								display: block;
							 	width: 30px;
							 	height: 30px;
							 	text-align: center;
							 	font-size: 20px;
							 	line-height: 30px;
							}
							.main-promise .si-block .flying-button a::after{
								content: "\f106";
								font-family: FontAwesome;
							 	border-radius: 15px;
							 	background: #e7e7e7;
							 	display: block;
							}
							.main-promise .si-block .flying-button a:hover::after  {
								content: "\f106";
								font-family: FontAwesome;
							 	background: #f36167;
							 	color: white;
							 	font-size: 20px;

							}


footer {
	width: 100%;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 0.875em;
}
	.footer-base {
		width: 1170px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin: 0 auto;
		position: relative;
		display: table;
	}
		.footer-base .drawer-footer {
			display: table-row;
		}
			.footer-base .drawer-footer .in-footer {
				width: 30%;
				display: table-cell;
			}
				.footer-base .drawer-footer .in-footer .drawer-in {
					text-align: left;
					width: 201px;
				}
					.footer-base .drawer-footer .in-footer .drawer-in.navigation-link ul li a{
						font-family: 'Roboto', sans-serif;
						font-size: 14px;
						line-height: 26px;
						color: rgb(128,128,128);
					}
					.footer-base .drawer-footer .in-footer .drawer-in.navigation-link ul li a:hover{
						border-bottom: 1px solid rgb(128,128,128);
					}
					.footer-base .drawer-footer .in-footer .drawer-in h2 {
						text-transform: uppercase;
						font-family: 'PT Serif', serif;
						font-size: 20px;
						color: rgb(0,0,0);
						font-weight: bold;
						margin-bottom: 20px;
					}
					.footer-base .drawer-footer .in-footer .drawer-in ul, li {
						margin: 0;
						padding: 0;
					}
					.footer-base .drawer-footer .in-footer .drawer-in ul, li {
						margin: 0;
						padding: 0;
						line-height: 1.5em;
					}
					.footer-base .drawer-footer .in-footer .drawer-in ul li > ul {
						margin-top: 20px;
					}
					.footer-base .drawer-footer .in-footer .drawer-in ul li.tell-you {
						margin-top: 15px;
					}
					.footer-base .drawer-footer .in-footer .drawer-in ul li.tell-you a {
						color: #000;
						font-weight: 500;
						font-size: 13px;
						font-family: 'Roboto', sans-serif;
						border-bottom: 1px solid black;
					}
					.footer-base .drawer-footer .in-footer .drawer-in ul li strong {
						font-family: 'PT Serif', serif;
						line-height: 21px;
						color: rgb(0,0,0);
						font-weight: bold;
						font-style: italic;
					}
					.footer-base .drawer-footer .in-footer .drawer-in ul li strong.time-title-data {
						display: block;
						line-height: 1.3em;
					}
					.footer-base .drawer-footer .in-footer .drawer-in ul ul li:first-of-type {
						color: rgb(128,128,128);
						font-size: 14px;
						margin-bottom: 5px;
					}
					.footer-base .drawer-footer .in-footer .drawer-in .hiddenText {
						visibility: hidden;
					}

	.end-footer {
		padding-top: 30px;
		width: 1170px;
		margin: 5px auto;
		position: relative;
	}
		.end-footer hr {
			background: black;
			border: 1px solid black;
			color: black;
			width: 100%;
		}
			.end-footer .column-footer {
				text-align: center;
				margin: 10px 0;
			}
				.end-footer .column-footer p {
					font-size: 14px;
					line-height: 21px;
					color: rgb(128,128,128);
					font-weight: bold;
					font-style: italic;
					font-family: 'PT Serif', serif;
				}




	/*border: 1px solid red;*/
	/*Layout two*/
	#wrapper {
		padding-bottom: 46px;
	}
		.bread-block-wrap {
			width: 100%;
			position: relative;
			display: table;
			margin: 20px 0;
		}
			.bread-block-wrap .keyword-attachment {
				display: table-row;
				line-height: 30px;
			}
				.bread-block-wrap .keyword-attachment .global-crumb {
					height: 30px;
					display: table-cell;
				}
					.bread-block-wrap .keyword-attachment .global-crumb h3 {
						display: inline-block;
						font-size: 13px;
						color: rgb(115,115,115);
						font-family: 'Roboto', sans-serif;
						font-weight: 400;
					}
					.bread-block-wrap .keyword-attachment .global-crumb a:hover{
						border-bottom: 1px solid rgb(115,115,115);
					}
						.bread-block-wrap .keyword-attachment .global-crumb a,
						.bread-block-wrap .keyword-attachment .global-crumb span {
							font-size: 13px;
							color: rgb(115,115,115);
							font-family: 'Roboto', sans-serif;
						}

.container {
	border: 1px solid red;
}

		.row-s-content {
			width: 100%;
			position: relative;
			display: table-row;
			border: 1px solid red;
		}
			.row-s-content .col-sidebar {
				width: 241px;
				position: relative;
				display: table-cell;
				margin-bottom: 20px;
    		padding: 0 15px;
				border: 1px solid red;
			}
				.row-s-content .col-sidebar .filter-wrapp {
					margin-top: 25px;
				}

					.row-s-content .col-sidebar .filter-wrapp .filter-block-i {
						margin-top: 30px;
						padding-bottom: 20px;
						border-bottom: 1px solid #d1d1d1;
						border: 1px solid red;
					}

					.row-s-content .col-sidebar .filter-wrapp .filter-block-i .filter-parametrs-title-i {
						cursor: pointer;
						position: relative;
						display: block;
						padding: 10px 30px 10px 0;

						font-weight: 600;
						font-family: 'PT Serif', serif;
						color: rgb(0,0,0);
						text-transform: uppercase;
					}
						.row-s-content .col-sidebar .filter-wrapp .filter-block-i .filter-parametrs-title-i::after {
							content: "";
							background: url("../img/angle-top.png") no-repeat center center;
							width: 12px; height: 7px;
							display: block;
							position: absolute;
					    top: 50%;
					    margin-top: -6px;
					    right: 10px;
						}
						.row-s-content .col-sidebar .filter-wrapp .filter-block-i .filter-parametrs-title-i.active::after {
							content: "";
							background: url("../img/angle-top-2.png") no-repeat center center;
							width: 12px; height: 7px;
							display: block;
							position: absolute;
					    top: 50%;
					    right: 10px;
					    margin-top: -6px;
						}
					.row-s-content .col-sidebar .filter-wrapp .price-filter {
						
					}
						.row-s-content .col-sidebar .filter-wrapp .price-filter .shop-filter {
							margin: 0;
							overflow: hidden;
							height: 130px;
						}
							.row-s-content .col-sidebar .filter-wrapp .price-filter .shop-filter .range-controls-filter {
								 	display: block;
							    overflow: hidden;
							    padding: 5px 0px;
							}
								.row-s-content .col-sidebar .filter-wrapp .price-filter .shop-filter .range-controls-filter .in-range-controls {
									border: 1px solid #c5c5c5;
									border-bottom-right-radius: 3px;
									border-bottom-left-radius: 3px;
									border-top-right-radius: 3px;
									border-top-left-radius: 3px;
									height: .8em;
									position: relative;
    							text-align: left;
								}
									.row-s-content .col-sidebar .filter-wrapp .price-filter .shop-filter .range-controls-filter .in-range-controls .lb {
									    border: 1px solid #c5c5c5;
									    background: #f6f6f6;
									    font-weight: normal;
									    color: #454545;

									    top: -.3em;
									    margin-left: -.6em;

											position: absolute;
									    z-index: 2;
									    width: 1.2em;
									    height: 1.2em;
									    cursor: default;
									    touch-action: none;
									  }
									.row-s-content .col-sidebar .filter-wrapp .price-filter .shop-filter .range-controls-filter .in-range-controls .cb {
   		 								top: 0;
    									height: 100%;	

    									background: #e9e9e9;
									    color: #333333;
									    font-weight: bold;	

									    position: absolute;
									    z-index: 1;
									    font-size: .7em;
									    display: block;
									    border: 0;
									    background-position: 0 0;								
									  }
									.row-s-content .col-sidebar .filter-wrapp .price-filter .shop-filter .range-controls-filter .in-range-controls .rd {
									    border: 1px solid #c5c5c5;
									    background: #f6f6f6;
									    font-weight: normal;
									    color: #454545;

									    top: -.3em;
									    margin-left: -.6em;

									    position: absolute;
									    z-index: 2;
									    width: 1.2em;
									    height: 1.2em;
									    cursor: default;
									    -ms-touch-action: none;
									    touch-action: none;
									  }

						.row-s-content .col-sidebar .filter-wrapp .price-filter .shop-filter .price-input {
							padding-top: 20px;
							padding-bottom: 20px;
						}
						.row-s-content .col-sidebar .filter-wrapp .price-filter .shop-filter .price-input::after {
							content: ".";
						  display: block;
						  clear: both;
						  visibility: hidden;
						  line-height: 0;
						  height: 0;
						}
							.row-s-content .col-sidebar .filter-wrapp .price-filter .shop-filter .price-input .price-input-i {
								float: left;
								margin-right: 10px;
							}
								.row-s-content .col-sidebar .filter-wrapp .price-filter .shop-filter .price-input .price-input-i span {
									font-size: 14px;
									color: rgb(115,115,115);
									font-family: 'Roboto', sans-serif;
									margin-right: 3px;


								}
									.row-s-content .col-sidebar .filter-wrapp .price-filter .shop-filter .price-input .price-input-i input {
										width: 56px;
										padding: 6px;
										color: rgb(115,115,115);
										font-family: 'Roboto', sans-serif;
										font-size: 14px;
										border-radius: 2px;
										background-color: #ffffff;
										border: 1px solid #dbdbdb;
									}

						.row-s-content .col-sidebar .filter-wrapp .price-filter .shop-filter .btn-link {
							width: 100%;
							text-align: right;
						}
							.row-s-content .col-sidebar .filter-wrapp .price-filter .shop-filter .btn-link .btn-link-i {
								padding: 8px 21.5px;
								background: #4d4d4d;
								color: white;
								font-family: 'Roboto', sans-serif;
								font-size: 14px;
								font-weight: 400;
								cursor: pointer;
							}


					.row-s-content .col-sidebar .filter-wrapp .filter-block-i {
						
					}
					.row-s-content .col-sidebar .filter-wrapp .total-size {
						border: 1px solid green;
						position: relative;
					}

















